<h1>Listing enumerations</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Abbrev val</th>
    <th>Cd</th>
    <th>Enum key</th>
    <th>Sort key</th>
    <th>Val</th>
  </tr>

<% @enumerations.each do |enumeration| %>
  <tr>
    <td><%=h enumeration.enumerationid %></td>
    <td><%=h enumeration.abbrev_val %></td>
    <td><%=h enumeration.cd %></td>
    <td><%=h enumeration.enum_key %></td>
    <td><%=h enumeration.sort_key %></td>
    <td><%=h enumeration.val %></td>
    <td><%= link_to 'Show', enumeration %></td>
    <td><%= link_to 'Edit', edit_enumeration_path(enumeration) %></td>
    <td><%= link_to 'Destroy', enumeration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New enumeration', new_enumeration_path %>